.icon1 {
    position: relative;
    display: inline-block !important;
    background: floralwhite;
    height: 55px;
    /* width: 55px; */
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.icon2 {
    position: relative;
    display: inline-block !important;
    background: floralwhite;
    height: 55px;
    /* width: 55px; */
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 20px;
}
.collapse .navbar-nav .nav-item{
    display: block;
    text-align: left;
    padding: 0px 30px;
    font-size: 16px;
    font-family: "Mulish",sans-serif;
    font-weight: 700;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.slide {
    height: 300px;
   
}
.conta {
    height: -100px;
    margin-top: -10px;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    z-index: 9;
    
}


.conta img{
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    height: 130px;
    width: 130px;
    border: 3pxsolidrgba(229,229,229,0.34);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 5px;
    overflow: hidden;
}
.conta p{
    text-align: center;
}

.container .left img{
    width: 350px;
    text-align: right;
    
    
}

.container .right h3 {
    text-align: center;
    font-size: 59px;
    font-weight: 400;
    color: #5b5b5b !important;
    text-transform: none !important;
    font-family: 'SVN Artful Beauty';
    margin-left: -70px;
}

.container .right h2 {
    font-family: "Mulish",sans-serif;
    font-size: 35px;
    color: #339538 !important;
    font-weight: 400;
    text-transform: uppercase;
    line-height: normal;
    margin-left: -130px;
  
    
}

.contentpage {
    margin-left: -100px;
    margin-top: 50px;
}

.img_intro_list {
    margin-top: 15px;
    margin-left: -200px;
    z-index: 99;
    border-radius: 20px;
    padding: 10px;
    background: #fff;
    position: relative;
}
.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}
.container .row .navtab{
    text-align: center;
 
}
.container .row .navtab button{
    padding: 7px 30px;
}
/* main contact */
.single-contact .title-contact {
    font-family: "Mulish",sans-serif;
    color: #4d4d4d;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: none;
}
   .single-contact a, .single-contact span {
    font-family: "Mulish",sans-serif;
    color: #4d4d4d;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    word-break: break-word;
    text-decoration: none;
}
.a-center {
    text-align: center !important;
}
:root {
    --swiper-navigation-size: 44px;
}

body {
    font-size: 14px;
    font-family: "Mulish",sans-serif;
    
}
.iFrameMap iframe {
    width: 100%;
    height: 400px;
}
.left_contact {
    overflow: hidden;
    background: #fff;
    padding: 0;
    margin: 0;
    margin-top: 50px;
    text-align: center;
}
.title-head-contact {
    font-family: "Mulish",sans-serif;
    font-weight: 700;
    margin: 0;
    padding: 0 0 15px;
    font-size: 26px;
    color: #4d4d4d;
    text-transform: none;
}
.group_contact .form-group {
    padding: 0px 15px;
    margin-bottom: 15px;
    color: #4d4d4d;
}
.group_contact .form-group .content-area {
    min-height: 160px;
    padding: 10px 30px;
    border-radius: 36px !important;
    resize: none;
}
.group_contact .form-group .form-control {
    border-radius: 36px !important;
    font-size: 16px;
    color: #424141;
    height: 60px;
    padding: 0px 30px;
    border: 1px solid #e3e3e3;
    background: #fff;
    width: 100%;
}
.group_contact .btn-lienhe:hover {
    border: none;
    color: #fff;
    background: #10394e;
}
.group_contact .btn-lienhe {
    border-radius: 0;
    font-family: "Mulish",sans-serif;
    background: #051305;
    color: #fff;
    font-size: 18px;
    transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
    font-weight: 700;
    text-transform: none;
    display: inline-block;
    width: auto;
    position: relative;
    height: 60px !important;
    line-height: 60px !important;
    border-radius: 80px !important;
    padding: 0 40px;
    border: none;
}
.a-center {
    text-align: center !important;
}
.sum_title {
    font-size: 16px;
    color: #656565;
    padding: 0 130px;
    margin-bottom: 50px;
}
form {
    display: block;
    margin-top: 0em;
}
input[type="hidden" i] {
    appearance: none;
    background-color: initial;
    cursor: default;
    display: none !important;
    padding: initial;
    border: initial;
}
.group_contact {
    margin-bottom: 50px;
}